<div class="w-form formwrapper">
  <%= form_for(@application) do |f| %>
    <label class="formtitel">Immobilie:</label>
    <%= f.hidden_field :user_id %>
    <%= f.label :title, class: 'fieldlabel' %>
    <%= f.text_field :title, class: "w-input textfield" %>
    <%= f.label :picture_url, class: 'fieldlabel' %>
    <%= f.text_field :picture_url, class: "w-input textfield" %>
    <%= f.label :price, class: 'fieldlabel' %>
    <%= f.text_field :price, class: "w-input textfield" %>
    <%= f.label :living_space, class: 'fieldlabel' %>
    <%= f.text_field :living_space, class: "w-input textfield" %>
    <%= f.label :rooms, class: 'fieldlabel' %>
    <%= f.text_field :rooms, class: "w-input textfield" %>
    <%= f.label :address, class: 'fieldlabel' %>
    <%= f.text_field :address, class: "w-input textfield" %>
    <%= f.label :city, class: 'fieldlabel' %>
    <%= f.text_field :city, class: "w-input textfield" %>
    <%= f.label :email, class: 'fieldlabel' %>
    <%= f.text_field :email, class: "w-input textfield" %>
    <%= f.label :mobile, class: 'fieldlabel' %>
    <%= f.text_field :mobile, class: "w-input textfield" %>
    <%= f.label :landline, class: 'fieldlabel' %>
    <%= f.text_field :landline, class: "w-input textfield" %>
    <%= f.submit 'Update', class: "w-button submitbutton" %>
  <% end %>
</div>
