<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>ProfileOverview</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= stylesheet_link_tag    "application", media: "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.4.7/webfont.js"></script>
    <script>
      WebFont.load({
        google: {
          families: ["Varela:400","Open Sans:300,400,600,700,800","Lato:100,300,400,700,900"]
        }
      });
    </script>
    <link rel="icon" type="image/x-icon" href="https://y7v4p6k4.ssl.hwcdn.net/placeholder/favicon.ico">
  </head>
  <body>
    <header class="headerclass">
      <a href="<%= root_path %>">
        <img class="logo" src="<%= image_path('troboxallsmall.png') %>" width="207" height="51.5" alt="troboxallsmall.png">
      </a>
    </header>
    <div class="mainclass">
      <div class="w-container bodyclass">

      <% flash.each do |name, msg| -%>
        <%= content_tag :div, msg, class: name %>
      <% end -%>
      <%= yield %>
      </div>
    </div>
    <footer class="footerclass"></footer>
  </body>
</html>
